github "Sage-Bionetworks/Bridge-iOS-SDK" "master"
github "Sage-Bionetworks/BridgeApp-Apple-SDK" ~> 3.0.3
github "dephillipsmichael/MotorControl-iOS" "pku"
github "Sage-Bionetworks/SageResearch" ~> 2.3
